Repository superglue-ai/superglue: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, secrets

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "packages/**/*.{ts,tsx,js,jsx,json,md,mdx}"
      run: npx prettier --write --ignore-path .gitignore {staged_files}
    secrets:
      glob: "**/*.{ts,tsx,js,jsx,json,md,mdx}"
      run: npx secretlint --maskSecrets {staged_files}

update sidebar and main page layout
  packages/web/src/app/page.tsx
  packages/web/src/components/sidebar/RightSidebar.tsx
  packages/web/src/components/sidebar/RightSidebarContext.tsx
Due: prettier, secrets

update dependencies and configuration
  .env.example
  package-lock.json
  packages/web/package.json
Due: prettier, secrets

apply prettier formatting
  packages/web/src/app/api/agent/chat/route.ts
  packages/web/src/app/schedules-context.tsx
  packages/web/src/lib/agent/agent-client.ts
Due: prettier, secrets

fixes
  packages/web/src/components/agent/tool-components/ToolComponentWrapper.tsx
  packages/web/src/lib/agent/agent-tools.ts
  packages/web/src/lib/api-auth.ts
Due: prettier, secrets

respect param
  packages/web/src/app/tools/page.tsx
Due: prettier, secrets

lint
  packages/web/src/app/tools/page.tsx
Due: prettier, secrets

missing break
  packages/web/src/lib/agent/agent-client.ts
Due: prettier, secrets

linting
  packages/web/src/lib/agent/agent-client.ts
Due: prettier, secrets

temp changes to test action
  .github/workflows/sync-to-opensource.yml
Due: none

tests sync v2
  .github/workflows/sync-to-opensource.yml
Due: none

sync test v3
  .github/workflows/sync-to-opensource.yml
Due: none

change client to use page instad of offset
  packages/shared/superglue-client.ts
  packages/web/src/app/systems-context.tsx
  packages/web/src/components/discovery/DiscoverySystemsLandscape.tsx
  packages/web/src/lib/agent/agent-context.ts
Due: prettier, secrets

linting
  packages/web/src/app/systems/page.tsx
  packages/web/src/app/tools/page.tsx
  packages/web/src/components/tools/ToolBuilder.tsx
Due: prettier, secrets

Remove hosted-only files from sync
  package-lock.json
  packages/web/src/app/landscape/page.tsx
  packages/web/src/app/schedules-context.tsx
  packages/web/src/components/discovery/DiscoverySystemsLandscape.tsx
  packages/web/src/components/discovery/discovery-utils.ts
  packages/web/src/components/landscape/ToolNode.tsx
  packages/web/src/lib/agent/discovery-prompts.ts
Due: prettier, secrets

unify system icon
  packages/web/src/app/systems/page.tsx
  packages/web/src/app/tools/page.tsx
  packages/web/src/components/agent/tool-components/CreateSystemComponent.tsx
  packages/web/src/components/agent/tool-components/DiffApprovalComponent.tsx
  packages/web/src/components/agent/tool-components/DiffDisplayComponent.tsx
  packages/web/src/components/agent/tool-components/ToolComponentDisplay.tsx
  packages/web/src/components/landscape/SystemNode.tsx
  packages/web/src/components/tools/ToolBuilder.tsx
  packages/web/src/components/tools/cards/MiniStepCard.tsx
  packages/web/src/components/tools/shared/SystemSelector.tsx
  packages/web/src/components/ui/system-icon.tsx
  packages/web/src/lib/general-utils.ts
Due: prettier, secrets

add system metadata field and clean up superglue client
  packages/core/api/systems.ts
  packages/web/src/app/api/auth/callback/route.ts
Due: prettier, secrets

Remove hosted-only files from sync
  package-lock.json
  packages/web/src/app/landscape/page.tsx
  packages/web/src/app/schedules-context.tsx
  packages/web/src/components/discovery/DiscoverySystemsLandscape.tsx
  packages/web/src/components/discovery/discovery-utils.ts
  packages/web/src/components/embedded/EmbeddedToolTemplateExecutor.tsx
  packages/web/src/components/landscape/SystemNode.tsx
  packages/web/src/components/runs/RunsList.tsx
  packages/web/src/components/runs/RunsTable.tsx
  packages/web/src/lib/agent/discovery-prompts.ts
Due: prettier, secrets

cleanup
  .github/workflows/sync-to-opensource.yml
  packages/core/api/index.ts
Due: prettier, secrets

add runlist back
  package-lock.json
  packages/web/src/components/runs/RunsList.tsx
Due: prettier, secrets

linting
  packages/web/src/components/runs/RunsList.tsx
Due: prettier, secrets

cleanup
  docs/enterprise/permissions.mdx
Due: secrets

typos and wording
  docs/getting-started/introduction.mdx
  docs/guides/debugging-a-tool.mdx
  docs/guides/deploying-a-tool.mdx
Due: secrets

openapi.yaml moved into docs dir
  docs/openapi.yaml
  packages/sdk/js/orval.config.ts
Due: prettier, secrets
