Repository superglue-ai/superglue: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, secrets

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "packages/**/*.{ts,tsx,js,jsx,json,md,mdx}"
      run: npx prettier --write --ignore-path .gitignore {staged_files}
    secrets:
      glob: "**/*.{ts,tsx,js,jsx,json,md,mdx}"
      run: npx secretlint --maskSecrets {staged_files}

deps patch
  packages/web/src/components/editors/TemplateAwareJsonEditor.tsx
  packages/web/src/components/editors/TemplateAwareTextEditor.tsx
  packages/web/src/components/tools/templates/TemplateExtension.tsx
  packages/web/src/components/tools/templates/TemplateVariableSuggestion.tsx
  packages/web/src/lib/external/anthropic-mcp/client/streamableHttp.ts
Due: prettier, secrets

pre-commit
  packages/web/src/components/tools/templates/TemplateVariableSuggestion.tsx
Due: prettier, secrets

Add agent plugin with evals
  plugins/superglue-integration-builder/.claude-plugin/plugin.json
  plugins/superglue-integration-builder/.codex-plugin/plugin.json
  plugins/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/evals/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/evals/superglue-integration-builder/cases.jsonl
  plugins/superglue-integration-builder/skills/superglue-integration-builder/SKILL.md
Due: secrets

Clarify plugin manifest and telemetry docs
  plugins/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/evals/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/skills/superglue-integration-builder/SKILL.md
Due: secrets

update and cleanup
  package-lock.json
  package.json
  packages/core/package.json
  packages/shared/package.json
  packages/web/next-env.d.ts
  packages/web/package.json
  packages/web/src/app/org-context.tsx
  packages/web/src/components/upgrade/UpgradeModal.tsx
  packages/web/src/components/upgrade/UpgradeModalContext.tsx
  packages/web/src/queries/index.ts
  packages/web/src/queries/org.ts
  packages/web/src/queries/query-keys.ts
Due: prettier, secrets

fixes
  docker/Dockerfile
  docker/Dockerfile.server
  docker/Dockerfile.web
  packages/core/datastore/postgres.test.ts
  packages/core/datastore/postgres.ts
  packages/core/datastore/types.ts
  packages/shared/types.ts
  packages/web/src/app/runs/page.tsx
  packages/web/src/lib/agent/registries/tool-registry.ts
Due: prettier, secrets

vitest
  packages/core/package.json
  packages/core/vitest.config.ts
Due: prettier, secrets

skill loading
  packages/web/src/lib/agent/skills/load-skills.ts
Due: prettier, secrets

Add Superglue integration plugin with evals (#683)
  plugins/superglue-integration-builder/.claude-plugin/plugin.json
  plugins/superglue-integration-builder/.codex-plugin/plugin.json
  plugins/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/evals/superglue-integration-builder/README.md
  plugins/superglue-integration-builder/evals/superglue-integration-builder/cases.jsonl
  plugins/superglue-integration-builder/skills/superglue-integration-builder/SKILL.md
Due: secrets

deployment fix
  package-lock.json
  packages/web/package.json
  packages/web/src/lib/auth.ts
  packages/web/src/lib/email.ts
Due: prettier, secrets

remove unused code
  package-lock.json
  packages/core/api/tenant.ts
  packages/core/package.json
  packages/core/utils/email.ts
  packages/web/package.json
  packages/web/src/components/sidebar/OrgSwitcher.tsx
  packages/web/src/lib/auth-client.ts
  packages/web/src/lib/auth.ts
  packages/web/src/lib/cache-scope-identifier.ts
  packages/web/src/lib/email.ts
  packages/web/src/lib/jwt-utils.ts
Due: prettier, secrets

deployment fix (#685)
  package-lock.json
  packages/core/api/tenant.ts
  packages/core/package.json
  packages/core/utils/email.ts
  packages/web/package.json
  packages/web/src/components/sidebar/OrgSwitcher.tsx
  packages/web/src/lib/auth-client.ts
  packages/web/src/lib/auth.ts
  packages/web/src/lib/cache-scope-identifier.ts
  packages/web/src/lib/jwt-utils.ts
Due: prettier, secrets

fix
  README.md
Due: none

fix12
  README.md
Due: none

fix2
  README.md
Due: none

fix3
  README.md
Due: none

remove interfaces
  README.md
Due: none

fix (#692)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#693)
  README.md
Due: none

hardening against ssrf
  packages/core/deno-runtime/strategies/http.ts
  packages/core/deno-runtime/utils/security.ts
  packages/core/deno-runtime/workflow-executor.ts
  packages/core/deno/deno-worker.test.ts
  packages/core/deno/deno-worker.ts
Due: prettier, secrets

fixes
  package-lock.json
  packages/core/deno-runtime/utils/security.ts
  packages/core/deno/deno-worker.test.ts
Due: prettier, secrets

fix
  packages/core/deno-runtime/utils/security.ts
  packages/core/deno/deno-worker.test.ts
  packages/web/next-env.d.ts
Due: prettier, secrets

hardening against ssrf (#694)
  package-lock.json
  packages/core/deno-runtime/strategies/http.ts
  packages/core/deno-runtime/utils/security.ts
  packages/core/deno-runtime/workflow-executor.ts
  packages/core/deno/deno-worker.test.ts
  packages/core/deno/deno-worker.ts
  packages/web/next-env.d.ts
Due: prettier, secrets

Add @-mentions for tools, systems and runs in the agent composer
  packages/shared/types.ts
  packages/web/package.json
  packages/web/src/components/agent/AgentContextProvider.tsx
  packages/web/src/components/agent/AgentInputArea.tsx
  packages/web/src/components/agent/AgentInterface.tsx
  packages/web/src/components/agent/MentionChip.tsx
  packages/web/src/components/agent/MentionEditBox.tsx
  packages/web/src/components/agent/MentionPopover.tsx
  packages/web/src/components/agent/hooks/types.ts
  packages/web/src/components/agent/hooks/use-agent-messages.ts
  packages/web/src/components/agent/hooks/use-agent-request.ts
  packages/web/src/components/agent/hooks/use-mention-input.ts
  packages/web/src/lib/agent/agent-request.ts
  packages/web/src/lib/agent/agent-types.ts
  packages/web/src/lib/agent/mention-context.test.ts
  packages/web/src/lib/agent/mention-context.ts
  packages/web/src/lib/agent/mentions.test.ts
  packages/web/src/lib/agent/mentions.ts
  packages/web/src/queries/mention-sources.ts
  packages/web/vitest.config.ts
Due: prettier, secrets

Address review findings on mention token handling
  packages/web/src/components/agent/AgentInputArea.tsx
  packages/web/src/components/agent/MentionEditBox.tsx
  packages/web/src/lib/agent/agent-request.ts
  packages/web/src/lib/agent/mention-context.test.ts
  packages/web/src/lib/agent/mention-context.ts
  packages/web/src/lib/agent/mentions.test.ts
  packages/web/src/lib/agent/mentions.ts
Due: prettier, secrets

Address second-half review findings
  packages/web/src/components/agent/MentionChip.tsx
  packages/web/src/components/agent/hooks/use-mention-input.ts
  packages/web/src/lib/agent/mention-context.ts
  packages/web/src/lib/agent/mentions.test.ts
  packages/web/src/lib/agent/mentions.ts
  packages/web/src/queries/mention-sources.ts
Due: prettier, secrets

Handle equal-token references and scope not-found classification
  packages/web/src/lib/agent/mention-context.test.ts
  packages/web/src/lib/agent/mention-context.ts
  packages/web/src/lib/agent/mentions.test.ts
  packages/web/src/lib/agent/mentions.ts
Due: prettier, secrets

Nest mention candidate queries under app-wide invalidation prefixes
  packages/web/src/queries/mention-sources.ts
Due: prettier, secrets

Add @-mentions for tools, systems and runs in the agent composer (#695)
  packages/shared/types.ts
  packages/web/package.json
  packages/web/src/components/agent/AgentContextProvider.tsx
  packages/web/src/components/agent/AgentInputArea.tsx
  packages/web/src/components/agent/AgentInterface.tsx
  packages/web/src/components/agent/MentionChip.tsx
  packages/web/src/components/agent/MentionEditBox.tsx
  packages/web/src/components/agent/MentionPopover.tsx
  packages/web/src/components/agent/hooks/types.ts
  packages/web/src/components/agent/hooks/use-agent-messages.ts
  packages/web/src/components/agent/hooks/use-agent-request.ts
  packages/web/src/components/agent/hooks/use-mention-input.ts
  packages/web/src/lib/agent/agent-request.ts
  packages/web/src/lib/agent/agent-types.ts
  packages/web/src/lib/agent/mention-context.test.ts
  packages/web/src/lib/agent/mention-context.ts
  packages/web/src/lib/agent/mentions.test.ts
  packages/web/src/lib/agent/mentions.ts
  packages/web/src/queries/mention-sources.ts
  packages/web/vitest.config.ts
Due: prettier, secrets

fix(web): use constant-time comparison for AUTH_TOKEN validation
  packages/web/src/lib/api-auth.test.ts
  packages/web/src/lib/api-auth.ts
Due: prettier, secrets

test(web): strengthen api-auth timing-safe regression coverage
  packages/web/src/lib/api-auth.test.ts
  packages/web/src/lib/api-auth.ts
Due: prettier, secrets

fix(core): fall back to backoff when a 429 Retry-After yields no usable wait
  packages/core/utils/http.test.ts
  packages/core/utils/http.ts
Due: prettier, secrets
